.cate { width:350px; margin:45px 31px 65px 31px;}

.cate_title { text-align: center; font-size: large; font-weight: bold;}

.cate_list 
{ 
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cate_list img 
{ 
    width: 90%; 
    height: auto; 
}
.cate_list li 
{ 
    width:30%; 
    height: auto; 
    text-align: center;
    margin: auto;
}
.cate_list li span 
{
    display: inline-block;
    font-weight: bold; 
    font-size: 14px; 
    height: 50px;
    vertical-align: middle; 
}